* {
    padding: 0;
    margin: 0;
}


.top-box {
    text-align: center;
    font-family: Verdana;
    border-style: solid;
    border-radius: 5%;
    margin-top: 25%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* first image */

.bg-image-1 {
    background-image: url(images/dallas1.jpg)
}

.image-1-content {
    font-family: verdana;
    color: white;
    border: 2px solid white;
    padding: 10px;
    background-color: rgba(0, 0, 0, .555)
}

/* second image */

.bg-image-2 {
    background-image: url(images/dallas2.jpg);
    background-attachment: fixed;
}

.image-2-content {
    font-family: verdana;
    color: white;
    border: 2px solid white;
    padding: 10px;
    background-color: rgba(0, 0, 0, .555)
}

/* third image */

.bg-image-3 {
    background-image: url(images/dallas3.jpg);
}

.image-3-content {
    font-family: verdana;
    color: white;
    border: 2px solid white;
    padding: 10px;
    background-color: rgba(0, 0, 0, .555)
}